.footer{
    position: sticky;
    bottom: 0;
    margin-top: 1rem;
    width: 97%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: rgb(119, 78, 78);
    font-weight: bold;
    border-top: 1px solid #000;
    
    button{
        position: absolute;
        bottom: .5px;
        right: 3rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}